# Database
DATABASE_USER=costco
DATABASE_PASSWORD=costco
DATABASE_NAME=costco

# Api
APP_NAME="Compiler API"

SECRET_KEY=kostya_stepa_filbert_XVI
ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

FREE_COMPILE_LIMIT=5

DATABASE_URL=postgresql+asyncpg://costco:costco@db:5432/costco

CORS_ORIGINS=["http://localhost", "http://localhost:80", "http://localhost:5173", "http://127.0.0.1", "http://127.0.0.1:5173", "http://127.0.0.1:8000", "http://localhost:8000"]

# Frontend
VITE_API_URL=http://localhost:8000